@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf');
}

:root{ 
  font-family: 'Roboto', 'Arial', monospace;
  background-color: #1F2937; /* this way, when scrolling down fast, white doesn't appear */
}

body {
  margin: 0;
  background-color: white;
}

.hero-main {
  font: 900 3rem 'Roboto', 'Arial', monospace;
  color: #F9FAF8;
  margin: 0;
}

.hero-secondary {
  font-size: 1.125rem;
  color: #E5E7EB;
}

.header-logo a {
  font-size: 1.5rem;
  color: #F9FAF8;
  text-decoration: none;
}

.information-header {
  color: #1F2937;
  text-align: center;
  font: 900 2rem 'Roboto', 'Arial', monospace;
  margin: 2rem 0;
}

.information-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.information-card {
  flex: 0 1 8rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.information-image {
  border: .17rem solid #3882F6;
  border-radius: 1rem;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: .07rem solid red;
  outline-offset: -1rem;
  transition: outline-offset .2s;
}

.information-image:hover {
  border-color: red;
  outline-offset: .3rem;
}

.information-text {
  text-align: center;
  margin: 0;
}

section#quote-section {
  background-color: #E5E7EB;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 70% auto;
}

section#quote-section,
section#quote-section .quote-block {
  margin: 5rem auto;
}

section#quote-section .quote-text,
section#quote-section .quote-author {
  margin: 0;
}

section#quote-section .quote-text {
  font: italic 100 2rem 'Roboto', 'Arial', monospace;
  color: #1F2937;
  margin-bottom: .5rem;
}

section#quote-section .quote-author {
  text-align: end;
}

header li {
  list-style-type: none;
}

header li a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  color: #E5E7EB;
}

.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  background-color: #6d747d;
  color: #E5E7EB;
}

header#header-section {
  background-color: #1F2937;
  padding: 0 0 5rem 0;
  display: flex;
  flex-flow: column nowrap;
}

.content-w80 {
  width: 80%;
}

.content-w60 {
  width: 60%;
}

.border-box {
  box-sizing: border-box;
}

.margin-center {
  margin: 0 auto;
}

nav#main-navigation {
  padding: 0 0 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#main-navigation .header-links ul {
  display: flex;
  gap: 1rem;
}

.header-main {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-main * {
  flex: 1;
}

.header-main img,
.information-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height .2s;
  position: relative;
  z-index: 2;
}

.information-image img:hover {
  height: 150%;
  object-fit: cover;
}

section#call-to-action > * {
  padding: 3rem 5rem;
  margin: 5rem auto;
}

section#call-to-action > *,
button.call-to-action-button {
  background-color: #3882F6;
  border-radius: .5rem;
}

button.call-to-action-button {
  flex: 1;
  padding: .5rem 2rem;
  color: #E5E7EB;
  border: 1px solid #E5E7EB;
}

button.call-to-action-button:hover {
  background-color: #E5E7EB;
  color: #3882F6;
}

footer#main-footer {
  padding: 1rem 0;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer#main-footer p {
  color: #E5E7EB;
}

footer#main-footer a[data-inspiring-site]{
  color: #E5E7EB;
  text-decoration: none;
}
footer#main-footer a[data-creator]{
  color: lightblue;
  text-decoration: none;
}

.call-to-action-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-flow: row wrap;
}

.call-to-action-text {
  color: #F9FAF8;
  flex: 7;
}

.call-to-action-heading,
.call-to-action-description {
  margin: 0;
}

.call-to-action-heading {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.no-border {
  border: none !important;
}

